<div class="container">
  <h1 class="mt-4 mb-4">Create a new list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit List", class: "btn btn-primary" %>
<% end %>
